:root {
    --box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
    --clr-dark: #1c232e;
    --clr-white: #fff;
    --clr-golden: hsl(42, 78%, 60%);
    --font-family: 'Poppins', 'Helvetica Neue', sans-serif;
    --font-regular: 400;
    --font-medium: 600;
    --font-semi-bold: 700;
    --font-bold: 800;
    --font-size: 1.2rem;
    --radius: 0.8rem;
    --radius-btn: 1rem;
    --transition: all 0.5s linear;
}

* {margin: 0;padding: 0;box-sizing: border-box;font-family: var(--font-family);}

.underline {
    width: 5rem;
    height: 0.2rem;
    margin-bottom: 1rem;
    background: var(--clr-golden);
    margin-left: auto;
    margin-right: auto;
  }

  a {
    text-decoration: none;
    color: var(--clr-dark);
    cursor: pointer;
  }

.contact{position: relative;width: 100%;min-height: 100vh;background: #fff;display: flex;justify-content: center;align-items: center;overflow: hidden;}

.contact_container{
    width: 80%;
    max-width: 900px;
    background-color: #fff;
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    z-index: 999;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-info{
    position: relative;
    background-color: inherit;
    padding: 2rem;
}

.contact-info .info_title {
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: var(--font-medium);
    color: var(--clr-dark);
    text-align: center;
    margin-bottom: 0.2rem;
}

.text{
    margin: 1.5rem auto;
    color: var(--clr-dark);
    font-size: 1rem;
    font-weight: var(--font-medium);
    line-height: 1.5;
}

.info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.information{
    display: flex;
    margin-bottom: 1rem;
    color: var(--clr-dark);
    align-items: center;
}

.information p {
    font-size: 1rem;
    font-weight: var(--font-regular);
    color: var(--clr-dark);
}

.information a:hover {
    text-decoration: underline;
    -webkit-transition: 1s;
    transition: 1s;
  }

.information .fa{
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    background: #000;
    border-radius: 50%;
    color: var(--clr-white);
    margin-right: 0.5rem;
}

#location {
    color: #ff0000;
}

.social-media{
    margin-top: 2rem;
}

.social-media p{
    color: var(--clr-dark);
    font-size: 1rem;
    font-weight: var(--font-medium);
}

.media-links{
    display: flex;
    flex-wrap: wrap;
    margin: 0.8rem 0;
}

.media-links a{
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #000;
    color: var(--clr-white);
    margin-right: 1rem;
    transition: var(--transition);
    z-index: 1;
}

.media-links a:hover{
    transform: scale(1.2);
}

.contact-info::before {
    content: "";
    position: absolute;
    width: 7.5rem;
    height: 7.5rem;
    border: 1.3rem solid var(--clr-dark);
    border-radius: 50%;
    right: 3.1rem;
    bottom: -4.8rem;
    opacity: 0.3;
}

.contact-form{
    position: relative;
    background-color: var(--clr-dark);
}

.contact-form::before{
    content: "";
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: var(--clr-dark);
    transform: rotate(45deg);
    top: 3rem;
    left: -0.8rem;
}

.circle{
    position: absolute;
    background: linear-gradient(135deg, transparent 20%, #149279);
    border-radius: 50%;
}

.circle.design{
    width: 8rem;
    height: 8rem;
    top: 8rem;
    right: -2.4rem;
}

.circle.design-2{
    width: 5rem;
    height: 5rem;
    top: 0.74rem;
    right: 1.8rem;
}

.circle.circle.design-3{
    width: 19.5rem;
    height: 19.5rem;
    bottom: -3.8rem;
    left: -2.2rem;
}

form{
    position: relative;
    padding: 2rem;
}

.form_title{
    color: var(--clr-golden);
    font-weight: var(--font-medium);
    font-size: 1.5rem;
    line-height: 1;
}

.input-container{
    position: relative;
    margin: 1rem auto;
}

label {
    display: none;
}

.input{
    width: 100%;
    outline: none;
    background: transparent;
    border: 1px solid var(--clr-white);
    color: var(--clr-white);
    padding: 0.5rem 1rem;
    font-weight: var(--font-regular);
    font-size: 1rem;
    letter-spacing: 0.02rem;
    border-radius: var(--radius-btn);
}

textarea.input{
    padding: 1rem;
    min-height: 10rem;
    resize: none;
    overflow-y: auto;
}

.submit_btn{
    padding: 0.5rem 2rem;
    background-color: var(--clr-white);
    border: 2px solid #fafafa;
    font-size: 1rem;
    color: var(--clr-golden);
    line-height: 1;
    border-radius: 2rem;
    cursor: pointer;
    transition: var(--transition);
}

.submit_btn:hover{
    background-color: transparent;
    color: var(--clr-dark);
}

@media only screen and (max-width: 900px) {
    .contact-info .info_title{
        font-size: var(--font-size);
    }

    .form_title {
        font-size: var(--font-size);
    }
    .input{
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 820px) {
    .contact_container{
        grid-template-columns: 1fr;
        margin: 2rem auto;
    }

    .contact-info::before {
        display: none;
        top: -4.6rem;
        right: 4rem;
        transform: scale(0.95);
        opacity: 0.1;
    }

    .contact-form::before{
        top: -0.8rem;
        left: initial;
        right: 4rem;
    }

}

@media only screen and (max-width: 499px) {
    .contact_container {
        display: flex;
        flex-direction: column;
    }

    .contact-info::before{
        display: none;
    }

    .information p {
        font-size: 0.8rem;
    }

    .social-media {
        margin-top: 1.5rem;
    }

    .media-links{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .media-links a {
        margin-bottom: 1rem;
    }

    .submit_btn{
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 320px) {
    .information {
        flex-direction: column;
        align-items: flex-start;
    }

    .information .fa {
        margin-bottom: 0.5rem;
    }
}

@media only screen and (max-width: 260px) {
    .mail {
        font-size: 0.6rem;
    }
}